#panel
  #toolbar
    #record
      %i.icon-circle
      Record
    #stop.disabled
      %i.icon-stop
      Stop
    #play
      %i.icon-play
      Play
    %i#handle.icon-chevron-up
  #log-wrapper
    %table#log
      %thead
        %tr
          %th Status
          %th Selector
          %th Value
      %tbody